## Load Redshift Extension

In [2]:
%load_ext redshift

/opt/conda/lib/python3.6/site-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

## Specify the connection string

#### Replace with your connection string

In [3]:
%redshift <hostname> 5439 <schema> <user> <password>
# hostname port schema username password

'Connection string has been stored'

## Simply query the database and see the results

In [4]:
%%redshift 
SELECT * FROM public.test_table limit 5

Querying Database

       class     age  sex survived
0  1st class  adults  man      yes
1  1st class  adults  man      yes
2  1st class  adults  man      yes
3  1st class  adults  man      yes
4  1st class  adults  man      yes

## Store results of the query in a pandas dataframe

#### Specify the name of pandas dataframe in which the result of query would be present

In [5]:
%%redshift test_df
SELECT * FROM public.test_table limit 5

Querying Database

'Result present in pandas dataframe - test_df'

In [6]:
test_df

       class     age  sex survived
0  1st class  adults  man      yes
1  1st class  adults  man      yes
2  1st class  adults  man      yes
3  1st class  adults  man      yes
4  1st class  adults  man      yes

#### we can check the type of variable

In [7]:
type(test_df)

pandas.core.frame.DataFrame

## Writing back pandas dataframe to redshift (%%redshift_write)

#### Your user should have write access to the schema else it will throw error that cannot run inside a transaction block

In [8]:
%%redshift
drop table if exists test_table

Querying Database
Committing

'Committed'

#### Specify the name of pandas dataframe and below the name of table. Don't forget to specify the database name.

In [9]:
%%redshift_write titanic
public.test_table

'Table public.test_table\n has been created'

#### Checking the new table created

In [10]:
%%redshift
select * from public.test_table

Querying Database

       class     age  sex survived
0  1st class  adults  man      yes
1  1st class  adults  man      yes
2  1st class  adults  man      yes
3  1st class  adults  man      yes
4  1st class  adults  man      yes